<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница авторизации</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_autorization.css') }}">
</head>
<body>
    <section class="auth-section">
        <h2>Авторизация</h2>
        <form class="auth-form" method="POST" action="{{ url_for('autorization') }}">
            <div class="form-group">
                <label for="username">Логин</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <label class="registration" for="username">Нет аккаунта? <a href="{{ url_for('registration') }}">Зарегистрироваться</a></label>
            <button type="submit">Войти</button>
        </form>        
    </section>
</body>
</html>
