<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример хедера</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_main.css') }}">
</head>
<body>  
  <script src="src/autorization.js"></script>
    <header>
        <div class="header-content">
            <div class="header-left">
                <a href="index.html" class="site-title">Название Сайта</a>
            </div>
            <div class="header-right">
                <div class="profile">
                    <img src="profile-icon.png" alt="Иконка профиля" class="profile-icon">
                    <span class="profile-name">Имя Профиля</span>
                </div>
            </div>
        </div>
    </header>
    <section class="table-section">
      <section class="classes-section">
        <h2>Классы</h2>
      </section>
    </section>
  <selection class="table-section">
      <div class="classes-section">
          <h3>header</h3>
          <p>Контейнер для хедера сайта</p>
      </div>
      <div class="classes-section">
          <h3>header-content</h3>
          <p>Контейнер для содержимого хедера</p>
      </div>
      <div class="classes-section">
          <h3>header-left</h3>
          <p>Контейнер для левой части хедера</p>
      </div>
      <div class="classes-section">
          <h3>site-title</h3>
          <p>Название сайта</p>
      </div>
      <div class="classes-section">
          <h3>header-right</h3>
          <p>Контейнер для правой части хедера</p>
      </div>
      <div class="classes-section">
          <h3>profile</h3>
          <p>Контейнер для иконки и имени профиля</p>
      </div>
      <div class="classes-section">
          <h3>profile-icon</h3>
          <p>Иконка профиля</p>
      </div>
      <div class="classes-section">
          <h3>profile-name</h3>
          <p>Имя профиля</p>
      </div>
</body>
</html>
