<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример хедера</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_main.css') }}">
</head>
<body>  
  <script src="src/autorization.js"></script>
  <!DOCTYPE html>
  <html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Главная</title>
  </head>
  <body>
      <header>
          <div class="header-content">
              <div class="header-left">
                  <a href="index.html" class="site-title">Название Сайта</a>
              </div>
              <div class="header-right">
                  <div class="profile">
                      <img src="data:image/png;base64,{{ profile_icon }}" alt="Иконка профиля" class="profile-icon">
                      <span class="profile-name">
                          {% if username %}
                              {{ username }}
                          {% else %}
                              Гость
                          {% endif %}
                      </span>
                  </div>
              </div>
          </div>
      </header>
    <div class="classes-section">
    <h2>Классы</h2>
    </div>
    <div class="classes-section">
        <h3>10В</h3>
        <p>2009 ШК</p>
    </div>
    <div class="classes-section">
        <h3>9Е</h3>
        <p>2007 ШК</p>
    </div>
    <div class="classes-section">
        <h3>7У</h3>
        <p>2007 ШК</p>
    </div>
    <div class="classes-section">
        <h3>10Д</h3>
        <p>2009 ШК</p>
    </div>
    <div class="classes-section">
        <h3>8З</h3>
        <p>2007 ШК</p>
    </div>
    <div class="classes-section">
        <h3>6М</h3>
        <p>2117 ШК</p>
    </div>
    <div class="classes-section">
        <h3>1Д</h3>
        <p>2107 ШК</p>
    </div>
    <div class="classes-section">
        <h3>8К</h3>
        <p>2009 ШК</p>
    </div>
</body>
</html>
